.contacts-box {
    position: relative;
    display: flex;
    width: 160rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.5rem;
    padding-bottom: 31.2rem;
    .ymaps-2-1-79-events-pane {
        border-radius: 50%;
    }

    &__message {
        position: absolute;
        top: -5rem;
        left: 34rem;
        display: flex;
        column-gap: 0.5rem;
        .text-chns {
            writing-mode: vertical-rl;
            &:last-child {
                transform: translateY(10rem);
            }
        }
    }

    &__map {
        width: 66.1rem;
        height: 66.1rem;
        border-radius: 66.1rem;
        overflow: hidden;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2.2rem;
            margin-bottom: 1.9rem;
        }
        &-adress {
            margin-top: 1.9rem;
            margin-bottom: 14.6rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        align-items: center;
    }

    &__inputs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    &__input {
        min-width: 36rem;
        width: 100%;
        text-align: start;
        padding-bottom: 0.8rem;
        border-bottom: 0.2rem solid #fff;
    }
    .ymaps-2-1-79-gototech {
        display: none;
    }

    @media (max-width: 48em) {
        width: 34.9rem * 2;
        flex-direction: column;
        gap: 5.3rem * 2;
        padding-top: 4.5rem * 2;
        padding-bottom: 30rem;

        &__message {
            position: static;
            padding-bottom: 10rem;
        }

        &__info-box {
            margin-top: 6.4rem;
        }

        &__info-adress {
            margin-top: 3.2rem;
            margin-bottom: 8.4rem;
        }

        &__form {
            // padding-top: 16.9rem * 2;
            gap: 8.4rem;
        }

        &__inputs-wrapper {
            gap: 5.6rem;
        }

        &__input {
            width: 33.35rem * 2;
            padding-bottom: 1.6rem;
        }
    }
}
