.header {
	width: 160rem;
	margin: 0 auto;
	height: 18.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2.5rem;

	&__burger-btn {
		width: 2.5rem;
		height: 2.3rem;
		cursor: pointer;
	}

	&__link {
		span {
			color: #393531;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.48rem;
			text-transform: uppercase;
			cursor: pointer;
		}
	}

	&__logo-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__title {
		color: #393531;
		text-align: center;
		font-size: 4rem;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 1.19rem;
		text-transform: uppercase;
		z-index: 2;

		span {
			font-weight: 700;
		}
	}

	&__subtitle {
		color: #393531;
		text-align: center;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 3.7rem;
		letter-spacing: 1.26rem;
		text-transform: uppercase;
		z-index: 2;

		word-spacing: 1.6rem;
	}

	&__links-bar {
		display: flex;
		width: 31rem;
		align-items: center;
		gap: 6.2rem;
	}

	&__link-icon {
		min-width: 3.4rem;
		min-height: 3.4rem;
		width: 3.4rem;
		height: 3.4rem;
		cursor: pointer;

		svg {
			width: 100%;
			height: 100%;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}

	@media (max-width: 48em) {
		width: 66.8rem;
		height: 16.6rem;
		padding-top: 7.6rem;

		.logo {
			right: -0.9rem;
		}

		.header {
			
			&__burger-btn {
				width: 5rem;
				height: 4.6rem;
			}
			&__link {
				display: none;
			}

			&__links-bar {
				width: -webkit-fit-content;
				width: -moz-fit-content;
				width: fit-content;
			}

			&__link-icon--profile {
				display: none;
			}

			&__link-icon {
				width: 5.6rem;
				height: 6.8rem;
			}

			&__title {
				margin-bottom: 0.7rem;

				font-size: 4rem;
				font-weight: 300;
				letter-spacing: 1.2rem;

				span {
					font-size: 4rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 1.2rem;
				}
			}

			&__subtitle {
				font-size: 2rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 1.4rem;
			}
		}
	}
}

@media (max-width: 48em) {
	.logo {
		width: 10.4rem;
		height: 18.6rem;
	}
}
