.hero-slider {
    position: relative;
    width: 100%;

    &__wrapper {
        height: 84.1rem;
    }

    .swiper-pagination {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .pag {
        top: 24.3rem;
        right: 30.7rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 6.5rem;
        align-items: center;

        .swiper-pagination-bullets {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            position: static;
            transform: none;
            flex-direction: column;
        }
        .swiper-pagination {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }

        &__scrollbar-wrapper {
            transform: rotate(90deg);
        }
    }

    &__card {
        display: flex;
        position: relative;
        width: 100%;
        height: 72.7rem;

        &-image {
            width: 192rem;
            height: 94.4rem;
            position: absolute;
            left: 0;
            top: -21.2rem;
            z-index: -1;

            img {
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            width: 41.2rem;
            align-items: center;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            margin-left: 12rem;
            margin-bottom: 9.3rem;
            margin-top: auto;
        }

        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5.7rem;

            .title {
                margin-top: 2.2rem;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 1rem;
            margin-bottom: 5.2rem;

            .text-price {
                margin-top: 1.9rem;
            }
        }

        &-img {
            width: 84.2rem;
            height: 63.7rem;
            position: absolute;
            bottom: 3.5rem;
            left: 11.2rem;
            z-index: 3;
            pointer-events: none;
        }
    }

    &__dark-cloud {
        position: absolute;
        width: 62.8rem;
        height: 68.5rem;
        right: -16.1rem;
        top: 9.3rem;
    }

    &__message {
        display: flex;
        position: absolute;
        top: 7rem;
        right: 50.5rem;
        z-index: 3;
        width: 10rem;

        span:last-child {
            margin-top: 7.8rem;
        }
    }

    @media (max-width: 48em) {
        .hero-slider {
            &__message {
                left: 58.5rem;
            }
            &__card {
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                padding-bottom: 9.8rem * 2;

                &-content {
                    width: 27rem * 2;
                    margin: 0 auto;
                    margin-top: 76.8rem;
                    display: flex;
                    flex-direction: column;
                }

                &-image {
                    width: 138rem;
                    height: 85.4rem;
                    left: -31.5rem;
                    top: -15.2rem;
                }
            }
        }

        .pag {
            top: auto;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;

            flex-direction: row;

            .swiper-pagination {
                display: flex;
                flex-direction: row;
            }

            &__scrollbar-wrapper {
                display: flex;
                transform: none;
            }
        }
    }
    @media (min-width: 48em) {
        .pag__scrollbar-wrapper {
            display: none;
        }
    }
}
