.mob-bar {
	display: none;
	@media (max-width: 48em) {
		display: flex;
	}
  background: linear-gradient(0deg, rgba(37, 42, 43, 0.63) 0%, rgba(28, 32, 32, 0.00) 96.72%);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 39.3rem * 2;
	z-index: 200;
  pointer-events:none;

	&__box {
    margin-top: auto;
		width: 100%;
		height: 12.3rem * 2;
    pointer-events:all;
    position: relative;
	}

	&__bg {
		width: 100%;
		height: 12.3rem * 2;
    position: absolute;
    bottom: 1rem;
    z-index: 1;

		svg {
			width: 100%;
			height: 100%;
			-o-object-fit: contain;
			object-fit: contain;
		}

    &::after {
      content:'';
      position: absolute;
      bottom: -2rem;
      left:0;
      width: 100%;
      height: 10rem;
      background-color: #fff;
      
    }
		
	}
  &__link {
		width: 7.4rem*2;
		height: 7.4rem*2;
		border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    cursor: pointer;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    &-icon {
      display: block;
      width: 100%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain;
      }
    }
    
	}
  &__price {
    position: absolute;
    left: 2.2rem*2;
    top:3.33rem*2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    gap:1px;
  }

  &__count {
    position: absolute;
    right: 2.2rem*2;
    top:3.33rem*2;
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-items: flex-end;
    gap:1px;
  }

  &__message {
    width: 100%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.65rem*2;
    z-index: 10;
  }
  
}
