.hero-product {
  margin-top: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: '';
    top: -26rem;
    left: -58rem;
    position: absolute;
    width: 191rem;
    height: 112rem;
    background-image: url('../img/webp/hero-product-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (min-width: 48em) {
    margin-top: 6.2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 12rem;
    &::after {
      top: -22rem;
      left: auto;
      right: -44rem;
      width: 194.8rem;
      height: 90.9rem;
      background-image: url('../img/webp/hero-product-bg-desk.webp');
    }
  }

  // .hero-product__info

  &__info {
    position: relative;
    z-index: 2;
    @media (max-width: 48em) {
      margin-bottom: 10rem;
    }
  }

  // .hero-product__carousel

  &__carousel {
    position: relative;
    z-index: 2;
    @media (max-width: 48em) {
      margin-bottom: 10rem;
      order: -1;
    }
  }

  // .hero-product__description

  &__description {
    position: relative;
    z-index: 2;
  }
}

// --------------------------------------------------------------------------

.info-hero-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 48em) {
    padding-top: 8.9rem;
  }

  // .info-hero-product__title-wrap

  &__title-wrap {
    margin-bottom: 5.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: 48em) {
      margin-bottom: 3rem;
    }
  }

  // .info-hero-product__subtitle

  &__subtitle {
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 48em) {
      margin-bottom: 3rem;
    }
  }

  // .info-hero-product__text-strong

  &__text-strong {
  }

  // .info-hero-product__text

  &__text {
    margin-bottom: 1.9rem;
    @media (max-width: 48em) {
      margin-bottom: 4rem;
    }
  }

  // .info-hero-product__title

  &__title {
  }

  // .info-hero-product__info

  &__info {
    margin-bottom: 5.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 48em) {
      margin-bottom: 6rem;
    }
  }

  // .info-hero-product__price

  &__price {
  }

  // .info-hero-product__link

  &__link {
  }
}

// --------------------------------------------------------------------------

.carousel-hero-product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  @media (max-width: 48em) {
    width: 63rem;
  }

  // .carousel-hero-product__slider

  &__slider {
    width: 63rem;
    &.swiper {
      margin-left: 0;
      margin-right: 0;
    }
    @media (min-width: 48em) {
      margin-bottom: 4.8rem;
      width: 55rem;
    }
  }

  // .carousel-hero-product__wrapper

  &__wrapper {
  }

  // .carousel-hero-product__slide

  &__slide {
  }

  // .carousel-hero-product__image-wrap

  &__image-wrap {
    width: 55rem;
    height: 55rem;
    @media (max-width: 48em) {
      width: 63rem;
      height: 63rem;
    }
  }

  // .carousel-hero-product__image

  &__image {
    display: inline-block;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
  }

  // .carousel-hero-product__control

  &__control {
    padding: 2rem;
    display: flex;
    align-items: center;
    column-gap: 2.1rem;
    border-radius: 10rem;
    background-color: #ffffff;
    @media (max-width: 48em) {
      padding: 0;
      width: 0;
      height: 0;
    }
  }

  // .carousel-hero-product__control-btn

  &__control-btn {
    flex: 0 0 5rem;
    cursor: pointer;
    &::after {
      content: '';
      display: inline-block;
      width: 5rem;
      height: 2rem;
      background-image: url('../img/icon/sl-arr.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:last-child {
      &::after {
        transform: rotate(180deg);
      }
    }
    @media (max-width: 48em) {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      background-color: #ffffff;
      &::after {
        width: 2.5rem;
        height: 4rem;
        background-image: url('../img/icon/sm-arr.svg');
      }
      &:first-child {
        border: 4px solid #c6dde6;
        transform: translateX(-50%);
      }
      &:last-child {
        left: auto;
        right: 0;
        border: 4px solid #c6bdb6;
        transform: translateX(50%);
      }
    }
  }
}

// --------------------------------------------------------------------------

.description-hero-product {
  display: flex;
  flex-direction: column;
  @media (min-width: 48em) {
    padding-top: 8.9rem;
    align-items: center;
    text-align: center;
  }

  // .description-hero-product__text-strong

  &__text-strong {
    margin-bottom: 4.4rem;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    @media (max-width: 48em) {
      margin-bottom: 6rem;
    }
  }

  // .description-hero-product__text

  &__text {
    text-align: left;
    @media (min-width: 48em) {
      margin-bottom: 5.3rem;
      max-width: 36rem;
      text-align: center;
    }
  }

  // .description-hero-product__chns-text

  &__chns-text {
    display: flex;
    column-gap: 0.5rem;
    user-select: none;
    span {
      writing-mode: vertical-rl;
      &:last-child {
        transform: translateY(8rem);
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 20rem;
      align-self: center;
      order: -1;
      column-gap: 1.5rem;
      span {
        &:last-child {
          transform: translateY(10rem);
        }
      }
    }
  }
}
