.seo {
    position: relative;
    height: 72.9rem;

    &__box {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    &__center {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72.9rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        list-style: none;
    }

    &__left-side {
        display: flex;
        flex-direction: column;
        width: 36rem;
        align-items: center;
        text-align: center;
        margin-top: 15rem;
        z-index: 2;

        &-title {
            margin-top: 4.4rem;
            margin-bottom: 4.2rem;
        }

        .link {
            margin-top: 4.8rem;
        }
    }

    &__right-side {
        display: flex;
        flex-direction: column;
        width: 38.3rem;
        align-items: center;
        text-align: center;
        margin-top: 15rem;
        min-height: 43.1rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        justify-content: space-between;
        z-index: 2;

        &-title {
            margin-top: 2.2rem;
        }

        &-subtitle {
            margin-bottom: 2.2rem;
        }

        &-head {
            display: flex;
            flex-direction: column;
        }

        &-body {
            display: flex;
            flex-direction: column;
        }
    }

    &__center-image {
        position: absolute;
        z-index: 1;
        width: 192rem;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    &__message {
        width: 7rem;
        display: flex;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        z-index: 2;
        margin-bottom: auto;

        .text-chns:last-child {
            margin-top: 9.4rem;
        }
    }
}

@media (max-width: 48em) {
    .seo {
        height: auto;
        &__box {
            flex-direction: column;
            align-items: center;
        }

        &__left-side {
            margin: 0;
            margin-bottom: 8rem;
            width: 100%;

            &-title {
                margin-bottom: 8rem;
            }

            .link {
                margin-top: 6.4rem;
            }
        }

        &__right-side {
            margin-top: 8rem;
            width: 100%;

            &-title {
                margin-top: 4.4rem;
                margin-bottom: 8rem;
            }

            &-subtitle {
                margin-bottom: 3.6rem;
            }
        }
    }
}
