@import './general/fonts.scss';
@import './general/normalize.scss';
@import './general/set.scss';

@import './pages/contacts.scss';
@import './pages/main.scss';
@import './pages/catalog.scss';
@import './pages/cart.scss';
@import './pages/base.scss';
@import './pages/delivery.scss';
@import './pages/article.scss';
@import './pages/personal-account.scss';
@import './pages/order.scss';
@import './pages/product.scss';

@import './blocks/header.scss';
@import './blocks/components.scss';
@import './blocks/components-a.scss';
@import './blocks/inst.scss';
@import './blocks/footer.scss';
@import './blocks/hero-slider.scss';
@import './blocks/hor-slider.scss';
@import './blocks/burger-menu.scss';
@import './blocks/seo.scss';
@import './blocks/catalog-hero.scss';
@import './blocks/products-list.scss';
@import './blocks/contacts-box.scss';
@import './blocks/mob-bar.scss';
@import './blocks/datacard.scss';
@import './blocks/product-hero.scss';
@import './blocks/ceremony.scss';
@import './blocks/modals.scss';
