@font-face {
    font-family: 'Inria Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/InriaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MaShanZheng';
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/MaShanZheng-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe';
    font-weight: normal;
    font-style: normal;
    src: url('./../fonts/Circe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe';
    font-weight: 700;
    font-style: normal;
    src: url('./../fonts/Circe-Bold.ttf') format('truetype');
}
