html {
	font-size: 0.5208335vw; // на разрешении 1920 0.520835vw === 10px
	font-style: normal;
	font-weight: normal;
	-webkit-animation: bugfix infinite 1s;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	font-family: "Inria Sans", sans-serif;
}

body {
	background-color: #EBEBEB;
}

@media (max-width: 48em) {
	html {
		font-size: 5px;
		font-size: 1.5625vw;
		font-size: calc((100 / 375) * 5vw); // где 375 это ширина моб версии макета
		-webkit-text-size-adjust: none;
	}
}

