.contacts {
	margin: 0;
	width: 100%;
	background-image: url('../img/webp/contacts-bg.webp');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	overflow: hidden;


	@media (max-width: 48em) {
		background-image: url('../img/webp/contacts-bg-mob.webp');
		background-size: 100%;
	}
}
