.delivery {
  margin: 0;
  width: 100%;
  min-height: 233.5rem;
  background-image: url('../img/webp/delivery-bg.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  overflow: hidden;

  &-information {
    width: 77.4rem;
    margin: 0 auto;
    position: relative;
  }
  &__symbols {
    position: absolute;
    top: -12.4rem;
    right: -11.5rem;
    display: flex;
    .symbols-right {
      padding-top: 7.8rem;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 12.4rem;
  }
  &__subtitle {
    &._payment,
    &._desc {
      margin-bottom: 4.4rem;
    }
    &._delivery {
      margin-bottom: 2.4rem;
    }
  }
  &__texts {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    margin-bottom: 6.6rem;
    .text-strong {
      text-transform: none;
    }
    &._desc {
      margin-bottom: 11.8rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  &__element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    &:not(:last-child) {
      border-bottom: 1px solid #fff;
    }
    .text-strong {
      text-transform: none;
    }
  }
}
@media (max-width: 48em) {
  .delivery {
    min-height: 501rem;
    background-image: url('../img/webp/delivery-bg-mob.webp');

    &-information {
      width: 100%;
    }
    &__symbols {
      top: 0;
      right: 0;
      .symbols-right {
        padding-top: 7.8rem;
      }
    }
    &__title {
      width: 49rem;
      text-align: left;
      margin-bottom: 7.2rem;
      margin-top: 9.6rem;
    }
    &__subtitle {
      p {
        text-align: left;
      }
      &._desc {
        margin-bottom: 6rem;
      }
      &._payment {
        margin-bottom: 8rem;
      }
      &._delivery {
        margin-bottom: 8rem;
      }
    }
    &__texts {
      gap: 3rem;
      margin-bottom: 11rem;
      &._desc {
        position: relative;
        z-index: 2;
        margin-bottom: 32rem;
      }
      p {
        text-align: left;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      &._desc {
        position: relative;
        div {
          position: relative;
          z-index: 2;
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &::before {
          top: -40rem;
          left: -2rem;
          width: 36.8rem;
          height: 22.6rem;
          background-image: url('../../img/webp/cat-img-5.webp');
        }
        &::after {
          right: -13rem;
          top: -26rem;
          width: 29.4rem;
          height: 23.8rem;
          background-image: url('../../img/webp/cat-img-6.webp');
          transform: rotate(7deg);
        }
      }
    }
    &__element {
      flex-direction: column;
      padding-bottom: 3rem;
      p {
        text-align: left;
      }
    }
  }
}
